[core]
	excludesfile = /Users/nokkerzz/.global-gitignore
	autocrlf = false
	pager = delta

[user]
	name = Adrià Canal
	email = hola@adriacanal.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFlwlDnOsYf2GPOPHHBCTsOMHEjcgGki5ghkDWnrntoK

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[fetch]
	prune = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[gpg]
	format = ssh

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
